<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Вимкнути WebDAV -->
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <remove name="WebDAV-Static" />
    </handlers>

    <!-- Додаємо WWW-Authenticate, щоб з'являвся діалог логіна -->
    <httpProtocol>
      <customHeaders>
        <add name="WWW-Authenticate" value="Basic realm=&quot;pass.starkon.gov.ua&quot;" />
      </customHeaders>
    </httpProtocol>

    <!-- Фільтр запитів (як було) -->
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="DELETE" allowed="true" />
          <add verb="PUT" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>

    <!-- URL Rewrite -->
    <rewrite>
      <rules>

        <!-- 1) HTTPS редірект -->
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" ignoreCase="true" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        <!-- 3) Не чіпаємо реальні файли/папки -->
        <rule name="Skip existing file" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        <rule name="Skip existing dir" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- 4) Усе інше скеровуємо у router.php -->
        <rule name="FrontController to router.php" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="^/admin/.*" negate="true" />
          </conditions>
          <action type="Rewrite" url="router.php?page={R:1}" appendQueryString="true" />
        </rule>

      </rules>
    </rewrite>

    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>

    <directoryBrowse enabled="false" />

  </system.webServer>
</configuration>
