# Заборона перегляду вмісту директорій
Options -Indexes

# Заборона доступу до важливих файлів
<FilesMatch "\.(env|git|gitignore|config|bak|swp)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>